# Connessione Milvus
MILVUS_HOST=127.0.0.1
MILVUS_PORT=19530
MILVUS_ALIAS=default

# Schema / collection Milvus
MILVUS_COLLECTION_NAME=documenti_aziendali
MILVUS_VECTOR_FIELD_NAME=embedding
EMBEDDING_DIM=768


